<%= form_for([:admin, @item]) do |form| %>
  

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>
  
  <div class="category_select_box">
    <%= form.select(:category_id, @categories.map { |category| [category.title, category.id] }) %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>