<div class="container">
	<center>
      <h2>Admin Dashboard</h2>
			<%= link_to "Update account", edit_user_path(current_user) %>
	   <div class="col-10">
	      <table class="table table-hover">
	         <thead>
	            <tr class="bg-danger">
        	      <th>Order #</th>
        	      <th>Order Placed</th>
        	      <th>Order Status</th>
		      <th></th>
		      <th></th>
	            </tr>
	          </thead>
            <tbody>
              <% @orders.each do |order| %>
                <tr class="order-<%= order.id %>">
                  <th scope="row">
                    <%= link_to order.id, order_path(order) %>
                  </th>
                  <td><%= order.date %></td>
                  <td class="status"><%= order.status.capitalize %></td>
                  <td><%= link_to "Cancel", order_path(order, status: "cancelled"), method: :put, class: "badge badge-warning" if order.status == "paid" || order.status == "ordered" %></td>
                  <% if order.status == "ordered" %>
                    <td><%= link_to "Mark as Paid", order_path(order, status: "paid"), method: :put, class: "badge badge-success" %></td>
                  <% elsif order.status == "paid" %>
                    <td><%= link_to "Mark as Completed", order_path(order, status: "completed"), method: :put, class: "badge badge-success" %></td>
                  <% end %>
                </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </center>
</div>

<div class="container">
	<center>
	   <div class="col-10">
	     <table class="table table-hover">
	        <thead>
	           <tr class="bg-danger" >
              <th> Status </th>
              <th> Count </th>
              </tr>
          </thead>
          <tbody>
              <% Order.count_by_status.each do |status, count| %>
              <tr>
              <th <th scope="row"> <%= link_to status.capitalize, admin_dashboard_index_path(status: status) %></th>
              <td><%= status.capitalize %>: <%= count %></td>
              </tr>
              <% end %>
          </tbody>
      </table>
    </div>
  </center>
</div>
