<div class="container">
	<h4>Order #<%= @order.id %></h4>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Thumbnail</th>
            <th>Title</th>
						<th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
	      <% @order.items.each do |item| %>
        <tr>
          <th scope="row"><h6><%= image_tag item.image, class: "card-img-top", style: "max-height: 100px; max-width: 100px;" %></h6></th>
          <td><%= link_to item.title, item_path(item) %></td>
          <td><%= OrderItem.find_by(item: item, order: @order).quantity %></td>
          <td>$<%= item.price %></td>
        </tr>
        <% end %>
        </tbody>
        <tr>
            <th></th>
            <th></th>
            <th>Total:</th>
            <td>
            <% sum = 0 %>
            <% @order.items.each do |item| %>
            <% sum += (item.price * OrderItem.find_by(item: item, order: @order).quantity) %>
            <% end %>
            Total: $<%= sum %>
            </td>
        </tr>
      </tbody>
    </table>

    <p><b>Order Date:</b> <%= @order.date %><br />
    <b>Order Placed by:</b> <%= @order.user.full_name %><br />
    <b>Order Address:</b> <%= @order.user.address %><br />
	<b>Order Status:</b> <%= @order.status.capitalize %></p>
</div>
