<h4>Order:</h4>
<ul>
	<ui>Total Price: $<%= @order.total_price %></ui>
	<ui>Order Date: <%= @order.date %></ui>
	<ui>Order Placed by: <%= @order.user.full_name %></ui>
	<ui>Order Address: <%= @order.user.address %></ui>
	<ul>
		<% @order.items.each do |item| %>
		<ui> <%= link_to "#{item.title}", item_path(item) %>: $<%= item.price %></ui> <br>
		<ui> Subtotal: $<%= item.price * item.order_items.first.quantity %>  </ui> <br>
		<% end %>
	</ul>
</ul>
