<h1>Cart</h1>

<% @items.each do |item, quantity| %>
  <div class="item-#{item.id}">
    <!-- <img src=<%=item.image%> alt="Onesie" height="250" width="250"> -->
    <%= image_tag item.image %>
    <p><strong><%= link_to item.title, item_path(item) %></strong></p>
    <p>Description: <%= item.description %></p>
    <p>Price: $<%= item.price %></p>
    <p>Quantity: <%= quantity %></p>
    <p>Subtotal: $<%= quantity * item.price %></p>
    <p><%= link_to "Decrease quantity", cart_path(id: item.id, condition: "decrease"), action: :update, method: :patch %></p>
    <p><%= link_to "Increase quantity", cart_path(id: item.id, condition: "increase"), action: :update, method: :patch %></p>
    <p><%= link_to "Remove", cart_path(id: item.id), method: :delete %></p>
  </div>
<% end %>
<div class="total">
  <% sum = 0 %>
  <% @items.each do |item, quantity| %>
    <% sum += (item.price * quantity) %>
  <% end %>
  <p><b>Total: $<%= sum %></b></p>
</div>
<div>
  <% if current_user %>
  <%= link_to "Checkout", dashboard_index_path %>
  <% else %>
  <%= link_to "Login", login_path %> <br />
  <%= link_to "Create new account", new_user_path %>
  <% end %>
</div>
