<style>
    .cart_image{
      width: 3em;
      height: 4em;
    }

    h2{
      text-align: center;
      font-family: 'Pacifico', cursive;
      font-size: 3em;
    }
</style>
<h2> <%= current_user.first_name %>'s  Cart</h2>
<div class="container">
	<center>
	<div class="col-10">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Item Name</th>
        <th>Item Image</th>
	      <th>Item Price</th>
        <th>Item Quantity</th>
        <th>Decrease</th>
        <th>Increase</th>
        <th>Subtotal</th>
        <th></th>
	    </tr>
      <tbody>

    <% @items.each do |item, quantity| %>
      <div class="item-#{item.id}">
        <tr>
        <th scope="row"><strong><%= link_to item.title, item_path(item) %></strong></th>
        <td><%= image_tag item.image, :class => "cart_image"%></td>
        <td>Price: $<%= item.price %></td>
        <td>Quantity: <%= quantity %></td>
        <td><%= link_to "-", cart_path(id: item.id, condition: "decrease"), action: :update, method: :patch, class: "badge badge-danger" %></td>
        <td><%= link_to "+", cart_path(id: item.id, condition: "increase"), action: :update, method: :patch, class: "badge badge-success" %></td>
        <td>Subtotal: $<%= quantity * item.price %></td>
        <td><%= link_to "Remove", cart_path(id: item.id), method: :delete %></td>
      </tr>
      </div>
      <% end %>
    </tbody>
    </table>
  </div>
</div>
</center>
</div>
    <div class="total">
  <% sum = 0 %>
  <% @items.each do |item, quantity| %>
    <% sum += (item.price * quantity) %>
  <% end %>
  <p><b>Total: $<%= sum %></b></p>
</div>
<div class="checkout">
    <% if current_user %>
    <%= link_to "Checkout", new_order_path(current_user) %>
  <% else %>
    <%= link_to "Login", login_path %> <br />
    <%= link_to "Create new account", new_user_path %>
  <% end %>
</div>
