<h1>Cart</h1>

<% @items.each do |item, quantity| %>
  <div class="item-#{item.id}">
    <!-- <img src=<%=item.image%> alt="Onesie" height="250" width="250"> -->
    <%= image_tag item.image %>
    <p><strong><%= link_to item.title, item_path(item) %></strong></p>
    <p>Description: <%= item.description %></p>
    <p>Price: $<%= item.price %></p>
    <p>Quantity: <%= quantity %></p>
    <p>Subtotal: $<%= quantity * item.price %></p>
    <p><%= link_to "Decrease quantity", cart_path(item), action: :decrease, method: :put %></p>
    <p><%= link_to "Increase quantity", cart_path(item), action: :increase, method: :patch %></p>
    <p><%= link_to "Remove", cart_path(id: item.id), method: :delete %></p>
  </div>
  <div class="total">
    <% sum = 0 %>
    <p>Total: $<%= sum += (item.price * quantity) %></p>
  </div>
<% end %>
