<h1>Cart</h1>

<% @items.each do |item, quantity| %>
  <div class="item-#{item.id}">
    <!-- <img src=<%=item.image%> alt="Onesie" height="250" width="250"> -->
    <%= image_tag item.image %>
    <p><strong><%= link_to item.title, item_path(item) %></strong></p>
    <p>Description: <%= item.description %></p>
    <p>Price: $<%= item.price %></p>
    <p>Quantity: <%= quantity %></p>
    <p><%= link_to "-", cart_path(id: item.id, condition: "decrease"), action: :update, method: :patch, class: "badge badge-success" %></p>
    <p><%= link_to "+", cart_path(id: item.id, condition: "increase"), action: :update, method: :patch, class: "badge badge-danger" %></p>
    <p><%= link_to "Remove", cart_path(id: item.id), method: :delete %></p>
    <p>Subtotal: $<%= quantity * item.price %></p>
  </div>
<% end %>
<div class="total">
  <% sum = 0 %>
  <% @items.each do |item, quantity| %>
    <% sum += (item.price * quantity) %>
  <% end %>
  <p><b>Total: $<%= sum %></b></p>
</div>
<div class="checkout">
    <% if current_user %>
      <%= form_tag do |t| %>

      <%= label_tag :address %>
      <%= collection_select :user, :addresses, Address.where(user_id: current_user.id), :id, :street %>

      <%= submit_tag("Checkout") %>
      <% end %>
      
  <% else %>
    <%= link_to "Login", login_path %> <br />
    <%= link_to "Create new account", new_user_path %>
  <% end %>
</div>
