<p>Total shop sales is $ <%= @analytics.total_sales %>, and the number of completed orders is <%= @anaytics.completed_orders %></p>

<p> Average number of onsies per order: <%= @analytics.average_quantity_purchaced %></p>

<p>Quantity ordered per item: <%= @analytics.sales_by_item_title %> </p>

<p>Number of orders each customer has placed: <%= @analytics.orders_per_customer %> </p>

<p>Number of items each customer has ordered: <%= @analytics.items_ordered_per_customer %>
