
<div class="container">
  <nav class="nav nav-tabs" id="myTab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-expanded="true">Customer Analytics</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile">Item Analytics</a>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th><i>Customer<i></th>
            <th><center><i>Total Orders To-Date<i></center></th>
          </tr>
        </thead>
        <tbody>
          <% @analytics.orders_per_customer.each do |key, value| %>
          <tr>
            <th scope="row"><%= key %></th>
            <td><center><%= value %></center></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <table class="table">
        <thead class="thead-default">
          <tr>
            <th><i>Customer<i></th>
            <th><center><i>Items Ordered To-Date<i></center></th>
          </tr>
        </thead>
        <tbody>
          <% @analytics.items_ordered_per_customer.each do |key, value| %>
          <tr>
            <th scope="row"><%= key %></th>
            <td><center><%= value %></center></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    <p>
      Total shop sales to date: $ <%= @analytics.total_sales %>. <br>
      Total completed orders: <%= @analytics.completed_orders %> <br>
      Average number of onsies per order: <%= @analytics.average_quantity_purchased %>
    </p>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th><i>Item<i></th>
            <th><center><i>Quantity Sold To-Date<i></center></th>
          </tr>
        </thead>
        <tbody>
          <% @analytics.sales_by_item_title.each do |key, value| %>
          <tr>
            <th scope="row"><%= key %></th>
            <td><center><%= value %></center></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
