<h3> Admin Dashboard </h3>

<ul>
	<ui>Name: <%= @admin.first_name %> <%= @admin.last_name %></ui>
	<ui>Email: <%= @admin.email %></ui>
	<ui>Role: <%= @admin.role %></ui>
</ul>
<p><%= link_to "All Items", admin_items_path %> </p>

<%= link_to "Update your account", edit_user_path(@admin) %>
