<!DOCTYPE html>
<html>
  <head>
    <title>LittleShopOfFunsies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p>Cart: <%= @cart.total_count %></p>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>


    <% if current_user %>
    Welcome, <%= current_user.first_name %>
    <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
    <% end %><br>
    <!-- yield should be last -->
    <%= yield %>
  </body>
</html>
