<!DOCTYPE html>
<html>
  <head>
    <title>Little Shop Of Funsies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <style>
    .successfully_removed {
            color: green;
    }
    h1 {
            font-family: 'Pacifico', cursive;
            font-size: 65px;
    }
    </style>
  </head>

  <body>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <%= link_to 'Login', login_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Logout', logout_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign Up', new_user_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Dashboard', dashboard_index_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Cart', carts_path, class: "btn" %>
        <span class="badge badge-secondary"><%= @cart.total_count %></span>
      </li>
    </ul>
    <div class="container">
      <div class="title">
        <center>
          <h1><u>Little Shop Of Funsies</u></h1><br />
          <img src="https://preview.ibb.co/mBbj1v/house_of_funsies_banner.png" alt="house_of_funsies_banner" border="0"></a><br /><a target='_blank' href='https://imgbb.com/'>
        </center>
      </div>
    </center>
    </div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, raw(msg), class: name %>
    <% end %>

    <%= yield %>
  </body>
</html>
